.organism-books {
	@borderSize: 5px;
	@backgroundColor: @grayBleached;
	
	.utility-fullWidth();
	
	background-color: @backgroundColor;
	ul {
		display: grid;
		grid-template-columns: repeat( auto-fit, minmax( 120px, 1fr ) );
		padding: .5rem;
		max-width: @contentMaxWidth;
		margin-left: auto;
		margin-right: auto;
	}
	li {
		margin: .5rem;
		border-left: @borderSize solid #737373;
		border-bottom: @borderSize solid #b4b4b4;
		position: relative;
		list-style-type: none;
		padding-bottom: 130%;
		&::before {
			content: "";
			display: block;
			position: absolute;
			border-top: @borderSize/2 solid white;
			border-left: @borderSize/2 solid white;
			border-bottom: @borderSize/2 solid transparent;
			border-right: @borderSize/2 solid transparent;
			left: -@borderSize;
		}
		&::after {
			content: "";
			display: block;
			position: absolute;
			border-top: @borderSize/2 solid transparent;
			border-left: @borderSize/2 solid transparent;
			border-bottom: @borderSize/2 solid white;
			border-right: @borderSize/2 solid white;
			right: 0;
			bottom: -@borderSize;
		}
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			display: block;
			transition: all 400ms;
			transform-origin: bottom left;
		}
		//&:hover img {
		//	transform: skewY(-69deg) scaleX(-.2);
		//}
	}

}
