.organism-header {
	overflow: hidden;
	h1 {
		margin-bottom: 0;
		a, a:hover {
			text-decoration: none;
			color: inherit;
		}
	}
	.organism-header__taglines {
		margin-top: 0;
	}
	.utility-backdrop();
}