{% set height = "" %}

<div class="organism-acc">
  <h2>ACC1</h2>

<img src="../images/portfolio/acc_large.png" width=200>

  <p>ACC1 stands for Adventist Church Connect v1. The system is designed to give
  every church a free single-page website without requiring any action on their
part.</p>

<!-- <ul>
  <li><img src="../images/portfolio/acc_large.png" alt="Desktop" height="{{ height }}"></li>
  <li><img src="../images/portfolio/acc_medium.png" alt="Tablet" height="{{ height }}"></li>
  <li><img src="../images/portfolio/acc_small.png" alt="Mobile" height="{{ height }}"></li>
</ul> -->
</div>
