<div class="organism-books">
	<ul>
		{% for book in data.books %}
			<li>
				{% if book.url %}<a href="{{ book.url }}" target="_blank">{% endif %}
					<img src="../{{ book.cover }}" alt="{{ book.title }}" width="100">
				{% if book.url %}</a>{% endif %}
			</li>
		{% endfor %}
	</ul>
</div>
