<div class="organism-acc">
  <h2>ACC1</h2>

  <p>ACC1 stands for Adventist Church Connect v1. The system is designed to give
  every church a free single-page website without requiring any action on their
part.</p>

<ul>
  <li><img src="../images/portfolio/acc_large.png" alt="Desktop" height="300"></li>
  <li><img src="../images/portfolio/acc_medium.png" alt="Tablet" height="300"></li>
  <li><img src="../images/portfolio/acc_small.png" alt="Mobile" height="300"></li>
</ul>
</div>
