<div class="organism-header">
	<div class="wrapper">
		<h1><a href="{{ data.relativeUrlPrefix }}resume.html">{{ data.name }}</a></h1>
		
		<p class="organism-header__taglines">
			{% for line in data.taglines %}
				{{ line }}<br>
			{% endfor %}
		</p>
	</div>
</div>