{% extends "layout-base.twig" %}

{% set pageData = data.projects.av_wp %}

{% block content %}
	<h2>WordPress Plugin for AudioVerse</h2>

	{% include "molecule-tagList.twig" with { tags: pageData.tags } only %}

	<ul>
		{% for name, link in pageData.links %}
			<li><a href="{{ link }}" target="_blank" title="{{ name }}">{{ name }}</a></li>
		{% endfor %}
	</ul>

	{% include "molecule-summary.twig" with { content: pageData.description } only %}

	<p>
		I'm building a WordPress plugin for AudioVerse. I do all the planning and then I send them a contract and then
		I do the work. I built a router, I built a system for them to use to place content on different media pages. I
		built short codes. I architected the whole thing. It's written using test-driven development.
	</p>
{% endblock %}