{% extends "layout-base.twig" %}

{% block content %}
	<h2>AudioVerse WP Plugin page</h2>

	<a href="https://github.com/AVORG/wp-avorg-plugin" target="_blank">The Repository</a>

	<p>
		I'm building a WordPress plugin for AudioVerse. I do all the planning and then I send them a contract and then
		I do the work. I built a router, I built a system for them to use to place content on different media pages. I
		built short codes. I architected the whole thing. It's written using test-driven development.
	</p>
{% endblock %}