{% extends "layout-base.twig" %}

{% block content %}
	<p>
		The intersection between technology and human cognition fascinates me. What can we learn from the brain that we
		can apply to technology? How does technology impact human behavior? How can we harness the power of technology
		to help people make positive changes in their lives? These are the questions that inspire me.
	</p>
	<p>
		I was drawn to the Internet as a medium of communication before I left for academy. Just the idea that I
		could create something online that other people could see, my own website, was strangely compelling to me. At
		the age of fourteen I built my first website using Yahoo! GeoCities, and I was hooked. Since that day, I've
		never stopped building websites.
	</p>

	{% include "organism-skills.twig" %}

	<p>
		In the following years my interests grew to include the human mind and behavior. Through reading books and
		watching lectures, a curiosity as to the causes of behavioral addictions has enlarged to encompass neurology,
		psychology, and behavioral therapy, as well as how these topics interact with the world of technology and the
		Internet.
	</p>

	{% include "organism-books.twig" %}

	{% include "organism-projects.twig" %}

	{% include "organism-history.twig" %}
{% endblock %}
