{% extends "layout-base.twig" %}

{% block content %}
	<p>
		The intersection between technology and human cognition has always fascinated me. What can we learn from the
		brain that we can apply to technology? How does technology impact human behavior? How can we harness the power
		of technology to help people make positive changes in their lives? These are the questions that inspire me.
	</p>
	<p>
		I was drawn to the Internet as a medium of communication before I went away to academy. Just the idea that I
		could create something online that other people could see, my own website, was strangely compelling to me. I
		built my first website using Yahoo! GeoCities when I was fourteen years old. Since that day, I've continued to
		learn new skills related to web development and design.
	</p>

	{% include "organism-skills.twig" %}

	<p>
		Along side my interest in technology has grown an interest in the human mind and behavior. This started with an
		interest in behavioral addictions. Over the years I've watched many lectures and read many books on the topics
		of neurology, psychology, and behavioral therapy, as well as books that bridge the gap between these disciplines
		and the world of technology.
	</p>

	{% include "organism-books.twig" %}

	{% include "organism-projects.twig" %}

	{% include "organism-history.twig" %}
{% endblock %}
